<!DOCTYPE html>
<html>
<head>
	<title>Library Management System</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	{% load staticfiles %}
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="../">Library Management System</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="../booksearch">Book Search</a></li>
	      <li><a href="../checkinbooks">Check-In</a></li>
	      <li><a href="../payfine">Pay Fine</a></li>
	      <li><a href="../addborrowers">Add Borrowers</a></li>
	    </ul>
	  </div>
	</nav>
	<section align = "center">
		<h1>Welcome to Library Management System</h1>
		<img src="{% static 'homepage/images/1.jpeg' %}" alt="Library Image" width="100%" height="100%">
	</section>
</body>
</html>